/* For complete page */
*{
    margin:0px;
    box-sizing:border-box;

}
body{
    background-color: white;
}
.main-page{
    height:100vh;
    display:flex;
}
.side-line{
    background-color:#37c9ef ;
    height: 100%;
    width:25px;
}
.side-bar{
    background-color:#0B2F9F ;
    height:100%;
    width:15%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    row-gap: 40px;
    padding-top:75px;
    padding-bottom:75px;
    box-shadow:1px 1px 10px rgb(185,185,185);
}
#circle{
    width:75px;
    height:75px;
    background-color: #c7d0d8;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
#circle:hover{
 background-color: #5d5f61;
}
#circle:active{
    background-color: #37c9ef;
}
.blue{
    background-color: #37c9ef;
}
.right-panel{
    background-color:white ;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
/* header part */
.header{
    background-color:#37c9ef ;
    width: 100%;
    height:75px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:1px 1px 10px rgb(185,185,185);
}
h1{
    font-family: "Cairo",sans-serif;
    color: white;
    font-size:2.2rem;
    letter-spacing: 0.2rem;
}
/* right-panel */
.tablet-container{
    height:100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;

}
#tablet-img{
    position: absolute;

}
#main-canvas{
    position: absolute;
}
